REFERENCE_DIR=images/ref_images
TARGET_DIR=images/target_images
AZURE_OPENAI_ENDPOINT=https://<your-resource>.openai.azure.com/
AZURE_OPENAI_KEY=<your-key>
AZURE_GPT_DEPLOYMENT=gpt-5-mini
API_VERSION=2024-12-01-preview
GOLD_STANDARD_DIR=gold_standards
OUTPUT_DIR=outputs
WITHOUT_SEGMENTATION_OUTPUT_DIR=without_segmentation_outputs
YOLO_MODEL_PATH=model/weights/drawing_checker.pt
YOLO_PREDICT_DIR=predictions
